.aside-frame {
    width: 100%;
    height: 100vh;
}

.aside-frame .circle-icon-wrp {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid var(--grayAlt2);
}

@media only screen and (min-width: 768px){
    .aside-frame {
        width: 80%;
    }
}

@media only screen and (min-width: 1024px){
    .aside-frame {
        width: 50%;
    }
}

@media only screen and (min-width: 1280px){
    .aside-frame {
        width: 40%;
    }
}