select {
    width: 100%;
    padding: 10px 12px;
    font-family: "FF Bau Regular", san-serif 'Fira Sans', 'Droid Sans' sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    outline: none;
    border: 1px solid var(--grayAlt2);
    cursor: pointer;
}

select:focus{
    border: thin solid var(--primaryAlt);
}