select {
    width: 100%;
    padding: 10px 12px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    outline: none;
    border: 1px solid var(--grayAlt2);
    cursor: pointer;
}

select:focus{
    border: thin solid var(--primaryAlt);
}