*{
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "FF Bau Regular", san-serif 'Fira Sans', 'Droid Sans' sans-serif;
    font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-font {
    font-family: "FF Bau Regular", san-serif;
}

.light-txt {
    font-family: freight-display-pro,serif;
    color: var(--darkAlt);
    font-weight: 400;
}

.thick-txt {
    font-family: freight-display-pro,serif;
    color: var(--darkAlt);
    font-weight: 600;
}

.font-30 {
    font-size: 30px;
}

.font-26 {
    font-size: 26px;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.cart {
    width: 25px;
    height: 25px;
}

.container {
    margin-top: 70px;
}

:root {
    --brandGray: #4b5548;
    --darkBrandGray: #2d302d;
    --white: #ffffff;
    --primaryText: #2b2e2b;
    --primaryAlt: #8d918d;
    --grayAlt1: #f5f5f4;
    --grayAlt2: #cdd1ce;
    --grayAlt3: #e2e6e3;
    --lightModal: rgba(205, 209, 206, 0.8);
    --darkAlt: rgb(43, 46, 43);
    --danger: #ff2818ef;
}

/*

*/

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.w-full {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.w-100px {
    width: 100px;
}

.h-50 {
    height: 50%;
}

.h-35 {
    height: 35%;
}

.h-screen-70 {
    height: 70vh;
}

.h-80px {
    height: 80px;
}

.h-50px {
    height: 50px;
}

.h-300px {
    height: 300px;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.my-10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.px-2rem {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-1rem {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2rem {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-1rem {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pr-2rem {
    padding-right: 2rem;
}

.pr-3rem {
    padding-right: 3rem;
}

.small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.primary-text {
    color: var(--primaryText);
}

.white-text {
    color: var(--white);
}

.danger-text {
    color: var(--danger);
}

.text-center {
    text-align: center;
}

.bg-gray-1 {
    background-color: var(--grayAlt1);
}

.bg-gray-3 {
    background-color: var(--grayAlt3);
}

.bg-white {
    background-color: var(--white);
}

.bg-brandGray {
    background-color: var(--brandGray);
}

.bg-modal-light {
    background-color: var(--lightModal);
    backdrop-filter: blur(3px);
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

.cursor-pointer{
    cursor: pointer;
}